@page "/about"
    <div id="pagewrapper">
        <img src="../media/aboutme.jpg" />
        <h1>About Me</h1>
        <div class="dividerline"></div>
        <p>
            Hello,<br /><br />
            My Name is Nicole Slama.  I have been coding for over 6 years primarily at TD Ameritrade.  I got started by realizing I needed more automation in my job in the back office department, 
            and was lucky to be able to attend a women focused coding class that was being offered at the time at work.
        </p>
        <p>
            I realized very quickly that I liked coding and being able to solve problems with technology, which lead me to get a formal education in the subject at Metro Community College 
            and later a Bachelors Degree at the University of Bellevue in CS.
        </p>
        <p>
            My current development goals are to continue learning the latest languages, and techneques and getting an even stronger foundational knowledge of the .NET framework.
        </p>
        <p>
            Outside of coding and work I like to hangout with my friends and family as well as playing darts, and playing with my dog.  
        </p>
    </div>