

@page "/"

    <div id="pagewrapper">

        <h1>
            Nicole Slama's Resume Website
            <a href="https://www.linkedin.com/in/nicole-slama-b9712a113/" target="_blank">
                <i class="fa fa-linkedin-square icon" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/slamnc" target="_blank">
                <i class="fa fa-github icon" aria-hidden="true"></i>
            </a>
        </h1> 

        <div class="dividerline"></div>
        <p>Welcome!  Thanks for visiting my site, I made this as a way to show off my skills in a better format than just a resume.</p>

        <p>
            This is a website I created using the Blazer web framework in order to showcase both my technicial experience as well as my ability to learn the latest technology.
            As a mainly .NET devloper I am really excited by Blazer as it gives me a chance to work completely in the .NET space. I primarily have only built sites using Angular
            and AngularJS but couldnt wait for the chance to get started using the Blazer framework.
        </p>
        <p>
            In this App you should be able to take away that I am able to build a functioning Blazer website, with UI elements such as charts, and the use of API calls, as well as
            server functions to provide the user the data they need as well as functionality they want.
        </p>

    </div>
